name: Update README with Recent Activity

on:
  schedule:
    - cron: "0 * * * *"   # Every 1 hour
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    name: Update README
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Readme-Workflows/recent-activity@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
